
body {
	background-color: #efefef;
	color: white;
	font-size: 16px;
  
}


.btn {
	font-size: 16px;
}

/* ---- Navbar ---- */

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fff;
}


.navbar-default .navbar-toggle,  { 
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {

	background-color: #fff;
}




.navbar-default {
	background-image: -webkit-linear-gradient(top,#2c3e50 0,#1c2e40 100%);
	background-image: linear-gradient(to bottom,#2c3e50 0,#1c2e40 100%);
	background-color: #2c3e50;
	border-color: #1c2e40;
	border-bottom: 1px solid #000;	
}



.navbar-default .navbar-nav>li>a:hover,  .navbar-default .navbar-brand a:hover {
	background-color: #f8f8f8;
	color: #2c3e50;	
}

.navbar-default .navbar-brand:hover {
	background-color: transparent;
	color: #fff;
}



/* try change header to position:static and put nav in it to see if it ads the space below to eliminate the need for padding */

main {
	color: #233140;
	padding-top: 20px;
}		


.blueText {
	color: #233140;
}

.thumbnail:hover, #portfolio img:hover {
	box-shadow: 10px 10px 5px #888888;
	transition: 0.2s;
	
}

#portfolio img:hover, .btn:hover {
	transform:scale(1.1);
	transition: 0.2s;
}

#email {
	padding-top: 10px;
}

.transparent {
	background: rgba(245, 245, 245, 0.7);
}


/* Sticky footer styles
-------------------------------------------------- */
@media (min-width:768px){

	html {
	  position: relative;
	  min-height: 100%;
	}
	
	body {
	  margin-bottom: 50px;
	}
	
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  min-height: 50px;
	}
	
}

/* ------------------ End stick footer */

footer {
	background-color: #2c3e50;
	color: white;
	border-top: 1px solid #000;
}

footer a {
	color: white;
}

footer p {
	padding-top: 15px;
}

.center-item {
	margin: 10px auto;
	padding: 19px 19px;
	max-width: 600px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.shadow {
	box-shadow: 10px 10px 5px #888888;
}

#quote {
	font-style: italic;
}

#author {
	font-weight: bold;
}

